@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This Program Compares 2 inputted numbers and returns the one with a higher square root</p>
</div>
